@tailwind base;
@tailwind components;
@tailwind utilities;

/*--------------------------------------------------------------
   - COMPONENTS
--------------------------------------------------------------*/

#input-section {
  top: 87%;
}

#state {
  top: 145%;
}


#task-container {
  top: 165%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box {
  background-color: #262626;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 8px;
  border: 1px solid #333333;
  height: auto;
}

.checkbox,
.trashbox {
  margin-right: 4px;
  cursor: pointer;
  display: flex;
  max-width: 15px;
  max-height: 50%;
}

.task-description {
  display: flex;
  align-items: start;
  padding: 6px;
  font-size: 14px;
  color: #f2f2f2;
}

.checked {
  text-decoration: line-through;
  display: flex;
  align-items: start;
  padding: 6px;
  font-size: 14px;
  color: #808080;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.note-icon {
  width: 20px;
  height: auto;
}